<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- Config  -->
	<appSettings>
		
		<!--  Config is not ready to use yet!  -->

		<!-- Use Proxy's (proxys.txt)  -->
		<add key="UseProxy" value="true" />
		
		<!-- Get debug error messages and warnings  -->
		<add key="debug" value="false" />
		
		<!-- It is not recommended to use above 10 Threads!  -->
		<add key="threads" value="11" />

		<add key="proxyChanger" value="false" />
		<add key="proxyChangerValue" value="500" />

		
		<!-- 
		UseProxy: true / false
		debbug  : true / false
		threads : any number
		
		- proxyChanger;
		    Valid Values: true / false
			Desc: Automaticly changes to the next Proxy in list after a certain amount of checks - this changes the proxy on every single thread!
			
		- proxyChangerValue;
		    Valid Values: any number
			Desc: After how many checks change to the next proxy - proxyChanger need to be on true
		
		- UseProxy;
		    Only use http proxy's that have under 600ms respond. Fast Proxy = fast mining
		-->
		
	</appSettings>
</configuration>