<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<appSettings file="..\config\settings.config">
		<add key="threads" value="10" />
		<add key="debug" value="false" />
		<add key="cryptoToMine" value="eth" /> <!-- don't change / don't work-->
		
		<add key="enableCustomRPC" value="false" />
		<add key="customRPC" value="GigaGAY-XXL6969" />
		<add key="censoreRPC" value="true" />
		
		<add key="consoleRefreshRate" value="1000" /> <!-- don't change / don't work-->
		
		<add key="discordWebhook" value="false" />
		<add key="webhookUrl" value="https://discordapp.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_TOKEN" />
		
		<!-- only works if discordWebhook is set to true-->
		<add key="recapEnabled" value="false" /> <!-- don't change / don't work-->
		<add key="recapSecondDelay" value="false" /> <!-- don't change / don't work-->
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>